

<div class="row row0">
<header>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" title="capish">capish</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Proposals<span class="notification-icon"><span class="badge">0</span></span></a></li>
        <li><a href="#">Messages<span class="notification-icon"><span class="badge">0</span></span></a></li>
        <li><a href="#">Brands</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" class="btn4">salimbugay</a></li>
        <li><a href="#" class="btn1"><i class="fa fa-cog"></i>&nbsp;Edit Profile</a></li>
        <li><a href="#" class="btn2"><i class="fa fa-question-circle"></i>&nbsp;FAQ</a></li>
        <li><a href="#" class="btn3"><i class="fa fa-sign-out"></i>&nbsp;Sign-out</a></li>
      </ul>
    </div>
  </div>
</nav>
</header>
</div>


<div class="signup signup2">
<div class="container">

<ul class="nav nav-pills nav-justified">
  <li class="active"><a href="#">EDIT PROFILE</a></li>
  <li><a href="#">EDIT ACCOUNT</a></li>
</ul>

 <form role="form">
  <div class="form-group form-groupname1 pull-left">
	<input type="firstname" class="form-control formcapish" id="usr" placeholder="First Name" onfocus="this.placeholder = ''" onblur="this.placeholder='First Name'" />
	</div>
	<div class="form-group form-groupname2 pull-right">
	<input type="lastname" class="form-control formcapish" id="usr" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder='Last Name'" />
	</div>
	
	 <div class="form-group form-grouploc error">
	<input type="fullname" class="form-control formcapish" id="usr" placeholder="Start typing a city" onfocus="this.placeholder = ''" onblur="this.placeholder='Start typing a city'" />
	</div>


	<div class="form-group form-groupcake">
	<input type="fullname" class="form-control formcapish" id="usr" placeholder="Date of birth" onfocus="this.placeholder = ''" onblur="this.placeholder='Date of birth'" />
	</div>

	<div class="form-group form-selectfull form-noborder">
	<label for="name" class="gender"><i class="fa fa-venus-mars"></i>Gender</label>
	<select class="selectpicker">
	  <option>Madam</option>
	  <option>Adam</option>
	</select>
	</div>

	
	<div class="form-group form-selectfull form-noborder error">
	<label for="name" class="gender"><i class="fa fa-hand-rock-o"></i>What passion best describes your Instagram feed?</label>
	<select class="selectpicker">
	  <option>Select</option>
	  <option>Lifestyle</option>
	  <option>Cars</option>
	</select>
	</div>
	
	<div class="form-group form-noborder form-groupbio">
		<label for="name" class="gender"><i class="fa fa-file-text"></i>Bio <span class="bioright pull-right">300</span></label>
		<textarea placeholder="Filling in your bio is a good way for brands to get to know you better. Please limit your bio to 300 characters or less." onfocus="this.placeholder = ''" onblur="this.placeholder='Filling in your bio is a good way for brands to get to know you better. Please limit your bio to 300 characters or less.'"></textarea>
	</div>
	
	<label class="lblpaypal">This is the price per post brands will see on your profile.</label>
	<div class="form-group form-groupmoney">
		<input type="fullname" class="form-control formcapish" id="usr" placeholder="$199" onfocus="this.placeholder = '$'" onblur="this.placeholder='$199'" />
	</div>
	
  <div class="row row0 text-right"><button type="submit" class="btn btn-send">SAVE</button></div>
  <div class="row row0 text-right terms">By clicking save, you agree to our <a href="#">terms of use</a></div>
</form>

</div>
</div>

<div class="footer-wrapper">
<div class="container text-center">
	<footer>
		<a href="#">Contact</a>
		<a href="#">FAQ</a>
		<a href="#">Privacy</a>
		<a href="#">Terms</a>
	</footer>
</div>
</div>
<script type="text/javascript">
	$('.selectpicker').selectpicker({
  size: 4
});		
</script>