

<div class="row row0">
<header>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" title="capish">capish</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Proposals<span class="notification-icon"><span class="badge">0</span></span></a></li>
        <li><a href="#">Messages<span class="notification-icon"><span class="badge">0</span></span></a></li>
        <li><a href="#">Brands</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" class="btn4">salimbugay</a></li>
        <li><a href="#" class="btn1"><i class="fa fa-cog"></i>&nbsp;Edit Profile</a></li>
        <li><a href="#" class="btn2"><i class="fa fa-question-circle"></i>&nbsp;FAQ</a></li>
        <li><a href="#" class="btn3"><i class="fa fa-sign-out"></i>&nbsp;Sign-out</a></li>
      </ul>
    </div>
  </div>
</nav>
</header>
</div>


<div class="signup signup2">
<div class="container">

<ul class="nav nav-pills nav-justified">
  <li><a href="#">EDIT PROFILE</a></li>
  <li class="active"><a href="#">EDIT ACCOUNT</a></li>
</ul>

 <form role="form">
 
 <div class="form-group form-groupemail">
    <input type="email" class="form-control formcapish" id="email" placeholder="kimkardashian@gmail.com" onfocus="this.placeholder = ''" onblur="this.placeholder='kimkardashian@gmail.com'" />
  </div>
	
	<label class="lblpaypal">We have partnered with PayPal for global bank transfers. <a href="#">Don't have a PayPal account?</a></label>
	<div class="form-group form-grouppaypal">
		<input type="fullname" class="form-control formcapish" id="usr" placeholder="kimkardashian@gmail.com" onfocus="this.placeholder = ''" onblur="this.placeholder='kimkardashian@gmail.com'" />
	</div>
	
	<div class="enotif">Email Notification	
	  <label><input type="checkbox" value="" checked /> Yes</label>
	  <label><input type="checkbox" value="" /> No</label>
	</div>
	
  <div class="row row0 text-right"><button type="submit" class="btn btn-send">SAVE</button></div>
  <div class="row row0 text-right terms">By clicking save, you agree to our <a href="#">terms of use</a></div>
  <div class="row row0 top-buffer70 text-left"><button type="button" class="btn btn-default btn-delete" data-toggle="modal" data-target="#myModal">DELETE ACCOUNT</button></div>
</form>

</div>
</div>

<div class="footer-wrapper">
<div class="container text-center">
	<footer>
		<a href="#">Contact</a>
		<a href="#">FAQ</a>
		<a href="#">Privacy</a>
		<a href="#">Terms</a>
	</footer>
</div>
</div>

<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content text-center">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Hey!</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete your Capish account?</p>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-default btn-modalyes" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
<script type="text/javascript">
	$('.selectpicker').selectpicker({
  size: 4
});		
</script>