<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<title>capish</title>
<link rel="stylesheet" type="text/css" href="assets/bootstrap.css">
<link href="assets/style.css" rel="stylesheet" type="text/css" media="all" />
<script src="assets/jquery-1.12.0.min.js" type="text/javascript"></script>
<script src="assets/bootstrap.min.js" type="text/javascript"></script>
</head>
<body>
<div class="fullimg">
	<div class="container">
		<a class="logo" href="#" title="capish">capish</a>
		<h2>WELCOME!</h2>
		We’re honored and excited to have you in our community.<br /><br />
		To activate your account, we’ll need to link your instagram account to our site and complate some basic registration information so we can begin to connect you with interested brands.<br /><br />
		Let’s get started!
		<div class="row text-center">
			<a href="#" class="btn btn-welcome" role="button">CREATE ACCOUNT</a>
		</div>
	</div>
	
</div>
</body>
</html>
