 
<div class="row row0">
<header>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" title="capish">capish</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Proposals<span class="notification-icon"><span class="badge">0</span></span></a></li>
        <li><a href="#">Messages<span class="notification-icon"><span class="badge">0</span></span></a></li>
        <li><a href="#">Brands</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" class="btn4">salimbugay</a></li>
        <li><a href="#" class="btn1"><i class="fa fa-cog"></i>&nbsp;Edit Profile</a></li>
        <li><a href="#" class="btn2"><i class="fa fa-question-circle"></i>&nbsp;FAQ</a></li>
        <li><a href="#" class="btn3"><i class="fa fa-sign-out"></i>&nbsp;Sign-out</a></li>
      </ul>
    </div>
  </div>
</nav>
</header>
</div>

<div class="container">

<div class="col-sm-3 page-sidebar col-thin-left text-center">
<a href="#" class="avatar"><img src="assets/profil.png" /></a>
</div>

<div class="col-sm-9 page-content col-thin-right">

<div class="row"><h1 class="text-center-xs">Salim Bugay</h1></div>

<div class="row info">
<div class="col-md-3 col-sm-3 text-center-xs">
<i class="fa fa-user"></i>33, Male
</div>
<div class="col-md-3 col-sm-3 text-center-xs">
<i class="fa fa-map-marker"></i>İstanbul Turkey
</div>
</div>

<div class="row bio text-center-xs">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et nibh vitae est elementum vulputate. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed laoreet eget diam ut vestibulum. Donec interdum suscipit nunc eget posuere. Cras egestas feugiat commodo. Nam sed lacus vitae turpis pulvinar varius. Ut orci tellus, fermentum eu nisi et, tempus auctor nisl. Sed aliquam feugiat
</div>

<div class="row">
	<h2>General Info</h2>
	<div class="col-lg-6 col-sm-6 col-xs-12 col0">
	  <div class="panel widget">
		<div class="widget-title">Passion</div>
		 <div class="row row-table">
			<div class="col-xs-4 text-center pv-lg">
			   <i class="fa fa-asterisk"></i>
			</div>
			<div class="col-xs-8 pv-lg">
			   <div class="widget-text mt0">Lifestyle</div>
			</div>
		 </div>
	  </div>
	</div>
	<div class="col-lg-6 col-sm-6 col-xs-12 col0">
	  <div class="panel widget">
		<div class="widget-title">Price Per Post</div>
		 <div class="row row-table">
			<div class="col-xs-4 text-center pv-lg">
			   <i class="fa fa-money"></i>
			</div>
			<div class="col-xs-8 pv-lg">
			   <div class="widget-text mt0">$199</div>
			</div>
		 </div>
	  </div>
	</div>
</div>
<div class="row">
<h2>Most Liked Posts</h2>
<div class="col-lg-3 col-md-4 col-sm-3 col-xs-6 thumb"><a href="#" class="thumbnail"><img class="img-responsive" src="assets/instaimg2.jpg" /><span><i class="fa fa-heart"></i> 781</span></a></div>
<div class="col-lg-3 col-md-4 col-sm-3 col-xs-6 thumb"><a href="#" class="thumbnail"><img class="img-responsive" src="assets/instaimg2.jpg" /><span><i class="fa fa-heart"></i> 1.2K</span></a></div>
<div class="col-lg-3 col-md-4 col-sm-3 col-xs-6 thumb"><a href="#" class="thumbnail"><img class="img-responsive" src="assets/instaimg2.jpg" /><span><i class="fa fa-heart"></i> 3.2M</span></a></div>
<div class="col-lg-3 col-md-4 col-sm-3 col-xs-6 thumb"><a href="#" class="thumbnail"><img class="img-responsive" src="assets/instaimg2.jpg" /><span><i class="fa fa-heart"></i> 781</span></a></div>
<div class="col-lg-3 col-md-4 col-sm-3 col-xs-6 thumb"><a href="#" class="thumbnail"><img class="img-responsive" src="assets/instaimg2.jpg" /><span><i class="fa fa-heart"></i> 781</span></a></div>
<div class="col-lg-3 col-md-4 col-sm-3 col-xs-6 thumb"><a href="#" class="thumbnail"><img class="img-responsive" src="assets/instaimg2.jpg" /><span><i class="fa fa-heart"></i> 781</span></a></div>
<div class="col-lg-3 col-md-4 col-sm-3 col-xs-6 thumb"><a href="#" class="thumbnail"><img class="img-responsive" src="assets/instaimg2.jpg" /><span><i class="fa fa-heart"></i> 781</span></a></div>
<div class="col-lg-3 col-md-4 col-sm-3 col-xs-6 thumb"><a href="#" class="thumbnail"><img class="img-responsive" src="assets/instaimg2.jpg" /><span><i class="fa fa-heart"></i> 781</span></a></div>
</div>

<div class="row">
	<h2>Stats</h2>
	<div class="col-lg-6 col-sm-6 col-xs-12 col0">
	  <div class="panel widget">
		<div class="widget-title">Engagement Score <i class="fa fa-info-circle btn5"></i></div>
		 <div class="row row-table">
			<div class="col-xs-4 text-center pv-lg">
			   <i class="fa fa-line-chart"></i>
			</div>
			<div class="col-xs-8 pv-lg">
			   <div class="widget-text mt0">24</div>
			</div>
		 </div>
	  </div>
	</div>
	<div class="col-lg-6 col-sm-6 col-xs-12 col0">
	  <div class="panel widget">
		<div class="widget-title">Average Likes</div>
		 <div class="row row-table">
			<div class="col-xs-4 text-center pv-lg">
			   <i class="fa fa-heart"></i>
			</div>
			<div class="col-xs-8 pv-lg">
			   <div class="widget-text mt0">1.2K</div>
			</div>
		 </div>
	  </div>
	</div>
</div>

<div class="row">
	<div class="col-lg-6 col-sm-6 col-xs-12 col0">
	  <div class="panel widget">
		<div class="widget-title">Number of Followers</div>
		 <div class="row row-table">
			<div class="col-xs-4 text-center pv-lg">
			   <i class="fa fa-users"></i>
			</div>
			<div class="col-xs-8 pv-lg">
			   <div class="widget-text mt0">5000K</div>
			</div>
		 </div>
	  </div>
	</div>
	<div class="col-lg-6 col-sm-6 col-xs-12 col0">
	  <div class="panel widget">
		<div class="widget-title">Average Comments</div>
		 <div class="row row-table">
			<div class="col-xs-4 text-center pv-lg">
			   <i class="fa fa-comment"></i>
			</div>
			<div class="col-xs-8 pv-lg">
			   <div class="widget-text mt0">990</div>
			</div>
		 </div>
	  </div>
	</div>
</div>

<div class="row">
<h2>Most Recent Posts</h2>
<div class="col-lg-3 col-md-4 col-sm-3 col-xs-6 thumb"><a href="#" class="thumbnail"><img class="img-responsive" src="assets/instaimg2.jpg" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-3 col-xs-6 thumb"><a href="#" class="thumbnail"><img class="img-responsive" src="assets/instaimg2.jpg" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-3 col-xs-6 thumb"><a href="#" class="thumbnail"><img class="img-responsive" src="assets/instaimg2.jpg" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-3 col-xs-6 thumb"><a href="#" class="thumbnail"><img class="img-responsive" src="assets/instaimg2.jpg" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-3 col-xs-6 thumb"><a href="#" class="thumbnail"><img class="img-responsive" src="assets/instaimg2.jpg" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-3 col-xs-6 thumb"><a href="#" class="thumbnail"><img class="img-responsive" src="assets/instaimg2.jpg" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-3 col-xs-6 thumb"><a href="#" class="thumbnail"><img class="img-responsive" src="assets/instaimg2.jpg" /></a></div>
<div class="col-lg-3 col-md-4 col-sm-3 col-xs-6 thumb"><a href="#" class="thumbnail"><img class="img-responsive" src="assets/instaimg2.jpg" /></a></div>
</div>

</div>
</div>

<div class="footer-wrapper">
<div class="container text-center">
	<footer>
		<a href="#">Contact</a>
		<a href="#">FAQ</a>
		<a href="#">Privacy</a>
		<a href="#">Terms</a>
	</footer>
</div>
</div>
			
			

   
<script type="text/javascript">$(document).ready(function(){
    $('.btn1').tooltip({title: "Edit Profile", placement: "bottom"}); 
    $('.btn2').tooltip({title: "FAQ", placement: "bottom"}); 
    $('.btn3').tooltip({title: "Sign-out", placement: "bottom"}); 
    $('.btn4').tooltip({title: "Sign-in", placement: "bottom"}); 
    $('.btn5').tooltip({title: "Engagement Score çok iyi bişeydir. Şöyle de güzel bişeydir.", placement: "bottom"}); 
});</script> 