 

<div class="row row0">
<header>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" title="capish">capish</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Proposals<span class="notification-icon"><span class="badge">0</span></span></a></li>
        <li><a href="#">Messages<span class="notification-icon"><span class="badge">0</span></span></a></li>
        <li><a href="#">Brands</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" class="btn4">salimbugay</a></li>
        <li><a href="#" class="btn1"><i class="fa fa-cog"></i>&nbsp;Edit Profile</a></li>
        <li><a href="#" class="btn2"><i class="fa fa-question-circle"></i>&nbsp;FAQ</a></li>
        <li><a href="#" class="btn3"><i class="fa fa-sign-out"></i>&nbsp;Sign-out</a></li>
      </ul>
    </div>
  </div>
</nav>
</header>
</div>


<div class="txtpage">
<div class="container">
<h2 class="text-center">PROPOSALS</h2>
This is where you will manage the proposals you receive from brands who want to work with you. You will receive an email notification as soon as a brand is interested in working with you. 
<br /><br />
There are currently no proposals in your inbox.

</div>
</div>

<div class="footer-wrapper">
<div class="container text-center">
	<footer>
		<a href="#">Contact</a>
		<a href="#">FAQ</a>
		<a href="#">Privacy</a>
		<a href="#">Terms</a>
	</footer>
</div>
</div>
<script type="text/javascript">
	$('.selectpicker').selectpicker({
  size: 4
});		
</script> 