 
<div class="signup">
<div class="container">
<a class="logo" href="#" title="capish"></a>
<h2 class="text-center">SIGN UP FOR INSTAGRAMMERS</h2>
 <form role="form">
  <div class="form-group form-groupemail">
    <input type="email" class="form-control formcapish" id="email" placeholder="Email" onfocus="this.placeholder = ''" />
  </div>
  <div class="form-group form-groupname1 pull-left">
	<input type="firstname" class="form-control formcapish" id="usr" placeholder="First Name" onfocus="this.placeholder = ''" />
	</div>
	<div class="form-group form-groupname2 pull-right">
	<input type="lastname" class="form-control formcapish" id="usr" placeholder="Last Name" onfocus="this.placeholder = ''" />
	</div>
	
	 <div class="form-group form-grouploc error">
	<input type="fullname" class="form-control formcapish" id="usr" placeholder="Start typing a city" onfocus="this.placeholder = ''" />
	</div>


	<div class="form-group form-groupcake">
	<input type="fullname" class="form-control formcapish" id="usr" placeholder="Date of birth" onfocus="this.placeholder = ''" />
	</div>

	<div class="form-group form-selectfull form-noborder">
	<label for="name" class="gender"><i class="fa fa-venus-mars"></i>Gender</label>
	<select class="selectpicker">
	  <option>Select your gender</option>
	  <option>Madam</option>
	  <option>Adam</option>
	</select>
	</div>

	
	<div class="form-group form-selectfull form-noborder error">
	<label for="name" class="gender"><i class="fa fa-asterisk"></i>What theme best describes you?</label>
	<select class="selectpicker">
	  <option>Select</option>
	  <option>Lifestyle</option>
	  <option>Cars</option>
	</select>
	</div>
	
	<div class="form-group form-groupmoney">
		<input type="fullname" class="form-control formcapish" id="usr" placeholder="Price per post" onfocus="this.placeholder = ''" />
	</div>
	
	<div class="form-group form-grouppaypal">
  <input type="fullname" class="form-control formcapish" id="usr" placeholder="Email address associated with Paypal account" onfocus="this.placeholder = ''" />
	</div>
  <div class="row row0 text-right"><a href="https://obscure-waters-33179.herokuapp.com/pages/new"><button type="submit" class="btn btn-send">JOIN</button></a></div>
  <div class="row row0 text-right terms">By clicking join, you agree to our <a href="/signup">terms of use</a></div>
</form>

</div>
</div>
<script type="text/javascript">
	$('.selectpicker').selectpicker({
  size: 4
});		
</script>
 
 